/******************************************************************
Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.
******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
    font-family: $body-font;
    font-size: 100%;
    line-height: 1.5;
    color: $color-p;
    background-color: $gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.desktop-hide {
    display: none;
}

.mobile-hide {
    display: initial;
}
/*********************
LINK STYLES
*********************/
a,
a:visited {
    color: $color-active;
    /* on hover */
    &:focus,
    &:hover {
        color: $color-hover;
    }
    /* on click */
    &:active {}
    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3);
    }
}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizelegibility;
    font-weight: 500;
    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

.h1,
h1 {
    font-size: 2.5em;
    line-height: 1.333em;
}

.h2,
h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em;
}

.h3,
h3 {
    font-size: 1.125em;
}

.h4,
h4 {
    font-size: 1.1em;
    font-weight: 700;
}

.h5,
h5 {
    font-size: 0.846em;
    line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {}
/*********************
HEADER STYLES
*********************/
/*
a.side_menu_button_link.normal{
float:left;
line-height: 90px;
}
*/
.popup_menu .line,
.popup_menu .line:after,
.popup_menu .line:before {
    background-color: $color5 !important;
    height: 1px;
    width: 24px;
}

a.popup_menu {
    &:after {
        content: 'MENU';
        display: inline-block;
        color: $color5;
        margin-left: 18px;
        font-size: 22px;
        top: -9px;
        position: absolute;
    }

    .line {
        &:after {
            top: 7px;
        }

        &:before {
            top: -7px;
        }
    }
}

.header_inner_right {
    float: left;
}

.header_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_inner_left {
    width: 100%;

    .logo_wrapper {
        width: 100%;

        .q_logo {
            width: 285.7px;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }
}

.lang_switcher {
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 40px;

    a {
        color: $color5;
        font: $body-font;
        text-transform: uppercase;
        padding: 0 6px;
        font-size: 20px;
        opacity: 0.7;
        transition: opacity 250ms;

        &.lb_active {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.sticky {
    .lang_switcher {
        top: 20px;
    }

    .q_logo {
        width: 185px!important;
    }
}

.lb_drive_icon span::after {
    content: '';
    background: url('/wp-content/uploads/2017/03/google-drive-logo.svg') no-repeat;
    background-size: 50px 48px;
    height: 46px;
    width: 50px;
    margin-left: 25px;
    display: inline-block;
}

.lb_photos_icon span::after {
    content: '';
    background: url('/wp-content/uploads/2017/03/google-photos.svg') no-repeat;
    background-size: 50px 48px;
    height: 46px;
    width: 50px;
    margin-left: 25px;
    display: inline-block;
}
/*********************
NAVIGATION STYLES
**********************/
.popup_menu_holder_inner {
    width: 1300px;
    margin: 3% auto;
    display: block;
}

nav.popup_menu {
    ul {
        li {
            text-align: left;

            a {
                text-transform: none;
                font: $body-font;
                font-size: 1.8em;
                font-weight: 400;
                line-height: 12vh;
            }
        }
    }
}
/*********************
HERO STYLES
*********************/
.slide_anchor_holder {
    margin-top: 66vh !important;
    animation: float 3s infinite;
    -webkit-animation: float 3s infinite;

    &:hover {
        animation: none;
        -webkit-animation: none;
    }
}

.slide_anchor_holder i {
    transition: 250ms;

    &:before {
        display: block;
        content: ' ';
        height: 35px;
        width: 35px;
        border: solid 1px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    &:hover {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
    }
}
@keyframes float {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0px);
    }

    66% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(5px);
    }
}
@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(5px);
    }

    50% {
        -webkit-transform: translateY(0px);
    }

    66% {
        -webkit-transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(5px);
    }
}
/*********************
POSTS & CONTENT STYLES
*********************/
.content {
    margin-top: -120px;
}

.color3_row {
    background-color: $color3;
}

.padding-top {
    height: $padding-top !important;
}

.padding-bottom {
    height: $padding-bottom !important;
}

.lb_section_heading {
    h1 {
        font-size: 4em;
        color: $color1;
    }

    &::before {
        content: '';
        width: 7px;
        box-shadow: 7px 0 0 0 $color3;
        border-radius: 55px;
        float: left;
        margin-right: 25px;
        margin-top: 14px;
    }

    &.single::before {
        height: 3.5em;
    }

    &.double::before {
        height: 8.5em;
    }
}

.lb_section_body {
    margin-top: $heading-space;

    p {
        font-size: 1.1em;
    }
}

.lb_line_under::after {
    content: ' ';
    display: block;
    height: 5px;
    width: 60px;
    text-align: left;
    box-shadow: 0 5px 0 0 $color3;
    border-radius: 55px;
}

.quote_row {
    height: 60vh;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;

    h1 {
        font-size: 3.2em;
        font-weight: bold;
        line-height: 1.4em;
    }

    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        height: 5px;
        width: 100px;
        text-align: center;
        box-shadow: 0 5px 0 0 $color3;
        border-radius: 55px;
    }
}

.lb_call_to_action h2 {
    font-size: 2em;
    color: $color1;
}
/*** IMAGE LAYOVER STYLES ***/
.lb_behind img {
    z-index: 0;
    position: relative;
    margin-bottom: -100px;
}

.pull-up img {
    position: relative;
    z-index: 99;
}
/*** BLOG POSTS ***/
.title_holder {
    display: none!important;
}

.title {
    height: 120px!important;
}
/******************************************************************
SINGLE BLOG POST STYLES
******************************************************************/
.ccfic-source {
    text-align: right;
    right: 0;
    margin-top: -23px;
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0,0.6);
    padding: 2.5px 10px;
    font-size: 12px;
}

.ccfic-source a {
    color: $color4;
}

.blog_holder article {
    .post_text h2 .date {
        color: $color4;
    }

    .post_info {
        display: none;
    }

    .post_image {
        max-height: 75vh;

        img {
            object-fit: cover;
            max-height: 75vh;
        }
    }

    .post_text_inner {
        padding: 50px 0 !important;
    }
}

.single-post {
    .full_width_inner {
        max-width: 1300px;
        margin: 0 auto;
    }

    .post_author,
    .vertical_separator {
        display: none;
    }
}

.blog_holder.single_image_title_post article {
    .section_inner {
        position: absolute;
        left: 6.4%;
        text-align: left;
        bottom: 6.4%;
    }

    .post_category {
        font-size: 18px;
        margin-bottom: 0;
        margin-left: 5px;
    }

    .entry_title {
        font-size: 56px;
        width: calc(100% - 6.4%);
    }

    .post_info {
        margin-left: 5px;
        font-size: 16px;
    }

    .post_text_inner p {
        line-height: 24px;
    }

    .itp_post_text {
        padding: 0 6.4%;
    }

    .single_bottom_part {
        border-bottom: none;
    }

    .single_top_part_holder {
        background-color: none;
        background: linear-gradient(transparent 50%,rgba(0, 0, 0, 0.6));
    }
}

.lb_back_button {
    color: $color1!important;
    text-transform: uppercase;
    z-index: 99;
    font-weight: 600;
    margin-bottom: 10px;

    &:hover::after {
        transform: scale(1);
        opacity: 1;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        margin-top: -29px;
        background: $color4;
        border-radius: 3px;
        width: 84px;
        height: 30px;
        transform: scale(0.8);
        opacity: 0;
        z-index: -1;
        transition: 350ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
    }

    &::before {
        content: '\f104';
        font-family: 'FontAwesome';
        font-size: 18px;
        margin-right: 10px;
        padding-left: 10px;
    }
}
/*********************************
RELATED POSTS STYLES
**********************************/
.crp_related {
    padding-top: 15px;

    img {
        border-radius: 6px;
    }

    h5 {
        margin-bottom: 10px;
    }

    ul {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    li {
        display: block;
        float: left;
        width: 32%;
        margin-left: 2%;

        &:first-child {
            margin-left: 0;
        }
    }
}

.crp_title {
    font: $h5;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: $color1;
    text-transform: uppercase;
}

.crp_date {
    font: $h6;
    font-family: 'Raleway', $sans-serif;
    display: block;
    line-height: 15px;
    color: $color1;
    text-transform: uppercase;
    margin: 10px 0;

    &::before {
        content: '';
        box-shadow: 5px 0 $color3;
        display: inline-block;
        height: 14px;
        border-radius: 5px;
        width: 5px;
        margin-right: 10px;
        margin-left: -3px;
    }
}
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.lb_footer_form .gform_wrapper {
    .chzn-container,
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=text],
    input[type=url],
    select,
    textarea {
        color: #a88e43 !important;
    }

    .gform_footer input.button,
    .gform_footer input[type=submit],
    .gform_page_footer input.button,
    .gform_page_footer input[type=submit] {
        font-size: 1em;
        color: #a88e43;
        border-color: #a88e43;
        width: auto;
        margin: 0 auto !important;
        display: block !important;
    }

    .gform_footer input.button:hover,
    .gform_footer input[type=submit]:hover,
    .gform_page_footer input.button:hover,
    .gform_page_footer input[type=submit]:hover {
        font-size: 1em;
        color: #ffffff;
        border-color: $color2;
        width: auto;
        margin: 0 auto !important;
        display: block !important;
    }
}
/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
.footer_top {
    padding: 40px 0 15px;

    .container .container_inner {
        #text-2 {
            margin: 2.2em 0 0.7em;

            .textwidget {
                .footer-logo-wrap {
                    width: 100%;
                    display: block;

                    #footer-logo {
                        display: inline-block;
                        text-align: center;
                        width: 200px;
                        padding-bottom: 40px;
                    }
                }

                a {
                    display: inline-block;

                    h5 {
                        display: inline-block !important;
                        padding: 0 20px;
                        transition: $transition;
                        font-size: 1em;
                    }

                    h5:hover {
                        color: $color3;
                    }
                }
            }
        }
    }
}

#newsletter-footer {
    padding-top: 20px;

    i {
        color: #fff;
        width: 30px;
        height: 30px;
        font-size: 1.5em;
        transition: $transition;
    }

    h5 {
        font-size: 0.8em !important;
        letter-spacing: 0;
        transition: $transition;
    }
}

#newsletter-footer a:hover h5,
#newsletter-footer a:hover i {
    color: $color3;
}

.footer_bottom {
    padding-bottom: 50px;
}

.q_social_icon_holder.normal_social {
    margin: 0 20px !important;
}

.lb_footer_form {
    display: none;
}

form#gform_3 {
    background-color: rgba(255, 255, 255, 0.07);
}

select#input_3_3.medium.gfield_select {
    margin-top: 22px !important;
}
