/******************************************************************
Stylesheet: Contact

Styles for contact ONLY. If the styles will be used across the site,
use the _base.scss file.
******************************************************************/

@import '../elements/variables';
@import '../elements/mixins';

/*********************
UNIVERSAL / STYLES FOR DESKTOP [1250px and up]
*********************/
.lb_contact_header h1 {
    color: $color1;
    font-size:3.5em !important;
}

.gform_wrapper input:not([type=radio])::-webkit-input-placeholder,
.gform_wrapper textarea::-webkit-input-placeholder {
    color: $color1 !important;
    font-size: 16px !important;
    transition: all .1s linear;
    border: none!important;
    border-bottom: solid 2px $color1;
}

.gform_wrapper input:not([type=radio]):focus,
.gform_wrapper textarea:focus {
    border-bottom-color: $color3 !important;
    transition: all .1s linear;
}

.gform_wrapper input:not([type=radio]):focus::-webkit-input-placeholder,
.gform_wrapper textarea:focus::-webkit-input-placeholder {
    color: $color1 !important;
    transition: all .1s linear;
}

#field_2_4 label {
    display: none;
}

.gform_wrapper .chzn-container,
.gform_wrapper input:not([type=radio]),
.gform_wrapper select,
.gform_wrapper textarea {
	height: 65px!important;
	border-bottom: 2px solid $color1 !important;
	border-radius: 0px!important;
	max-width: 1400px !important;
	transition: all 0.1s linear;
}

.gfield_required {
    display: none !important;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
    font-size: 1em;
    width: auto;
    margin: 0 auto !important;
    display: block !important;
    border-radius: 7px!important;
    height: 47px!important;
}

.gform_wrapper input[type=submit]:hover,
.gform_wrapper input[type=button]:hover,
.gform_wrapper input[type=reset]:hover {
    background-color: $color2;
    border-color: $color2;
    border-bottom-color: $color2!important;
    color: #fff;
    text-decoration: none;
}

.lb_column_text p {
    padding: 7px 0 0!important;
}


/*********************
RESPONSIVE STYLES
*********************/
