/******************************************************************
Stylesheet: Contact

Styles for homepage ONLY. If the styles will be used across the site,
use the _base.scss file.
******************************************************************/
/******************************************************************

Stylesheet: Variables

******************************************************************/
/* Colours */
/* Spacing / Padding */
/******************************************************************
Stylesheet: Mixins Stylesheet
******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
UNIVERSAL / STYLES FOR DESKTOP [1250px and up]
*********************/
/*********************
RESPONSIVE STYLES
*********************/
