@import 'variables';
@import 'typography';

#lb_video_list {
    display: none;
}

#lb_video {
    background-color: transparent;
    background: url('https://www.oenovaults.com/images/loading.gif') no-repeat;
    background-position: center center;
    background-size: 50px;
}

.lb_video_container {
    .pull-right {
        margin-right: 40%;
    }

    .pull-left {
        margin-left: 40%;
    }

    .pull-left,
    .pull-right {
        margin-top: -320px;

        .fa-circle {
            font-size: 90px;
            margin-top: 35px;
            margin-left: 2px;
        }
    }

    .vc_pagination {
        display: none;
    }
}

.lb_yt_external a {
    &::after,
    &::before {
        color: white;
        font: $body-font;
        line-height: 47px;
    }

    &::before {
        content: 'View Our ';
    }

    &::after {
        content: ' Channel';
        padding-right: 18px;
    }
}

.lb_pageable_links {
    .divider {
        color: white;
    }

    p {
        width: 855px;
        margin: 0 auto;
    }

    a {
        font-weight: bold;
        color: white!important;
        margin: 0 10px;
        transition: $transition;
        padding-bottom: 4px;
        width: 25%;
        &.active {
            color: $color3!important;
        }
    }
}
